.weather {
  display: grid;

  margin: 40px 20px;

  // color: #ff17cd

  @media screen and (max-width: 630px) {
    grid-template-rows: repeat(8, 150px);
    grid-template-columns: 1;
    gap: 50px;
  }

  @media screen and (min-width: 630px) and (max-width: 1000px) {
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: 1fr 1fr;
    row-gap: 70px;
    column-gap: 30px;
  }

  @media screen and (min-width: 1000px) and (max-width: 1300px) {
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 30px;
  }

  @media screen and (min-width: 1300px) {
    grid-template-rows: 1;
    grid-template-columns: repeat(8, 1fr);
    // row-gap: 50px;
    column-gap: 30px;
  }
}
